body {
  margin: 0;
}

h1 {
  text-align: center;
}

#color-palette {
  height: 106px;
  width: 436px;
  margin: auto;
  position: relative;
  top: 40px;
}

.color {
  border: 1px solid black; /* requisito 2 */
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
}

.color:nth-child( 1 ) {
  background-color: black; /* requisito 3 */
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: green;
}

#button-random-color {
  position: relative;
  left: 1250px;
  bottom: 20px;
}

#quadro-negro {
  position: relative;
  top: 90px;
  margin: auto;
  width: 570px;
  height: 530px;
}

.square {
  border: 1px solid black;
  width: 140px;
  height: 130px;
  display: inline-block;
  position: relative;
  left: 3px;
  top: 3px;
  margin: -2px;
}
