body {
  margin: 0;
}

h1 {
  text-align: center;
}

#color-palette {
  height: 106px;
  width: 436px;
  margin-left: 36%;
  position: relative;
  top: 10px;
}

.color {
  border: 1px solid black; /* requisito 2 */
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
}

.selected {
  background-color: black; /* requisito 3 e 8 */
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: green;
}

#button-random-color {
  margin-left: 68%;
  margin-bottom: 25px;
  padding: 4px;
  position: relative;
  left: 50px;
}

#pixel-board {
  margin: auto;
  width: 410px;
  height: 360px;
  border: 1px solid black;
}

.pixel {
  border: 1px solid black; /* requisito 7 */
  background-color: white;
  width: 40px; /* requisito 7 */
  height: 40px; /* requisito 7 */
  display: block;
  float: left;
  margin: auto;
}
