* {
  margin: 0;
}

#title {
  text-align: center;
  margin: 20px auto;
  width: max-content;

}

#color-palette {
  height: auto;
  width: max-content;
  margin: auto;
}

.color {
  border: 1px solid black; /* requisito 2 */
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
}

.color:nth-child( 1 ) {
  background-color: black; /* requisito 3 e 8 */
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: green;
}

#buttons {
  margin: 15px auto;
  width: max-content;
  justify-content: center;
}

#buttons div {
  display: inline-block;
}

#button-random-color {
  padding: 4px 5px;
}

#clear-board {
  padding: 4px 30px;
}

#pixel-board {
  margin: auto;
  width: 210px;
  height: 210px;
  border: 1px solid black;
}

.pixel {
  border: 1px solid black; /* requisito 7 */
  background-color: white;
  width: 40px; /* requisito 7 */
  height: 40px; /* requisito 7 */
  display: block;
  float: left;
}
